:host {
  position: relative; /* Necesario para el pseudoelemento */
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 10px; /* Bordes redondeados */
  background-color: #fffb00c7;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s;
  min-width: 150px;
  overflow: hidden; /* Ocultar el destello */
}

:host:hover {
  background-color: #f6ed9f; /* Fondo más claro al pasar el mouse */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  color: #fff; /* Color del texto blanco */
}

:host:active {
  background-color: #4cc95c; /* Fondo más oscuro al hacer clic */
  box-shadow: 0 2px 0 #333;
  animation: shake 0.3s ease; /* Animación de vibración */
}

/* Pseudoelemento para el destello */
:host::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Color del destello */
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.1s, transform 0.1s;
  pointer-events: none; /* No interfiere con los clics */
}

:host:active::after {
  opacity: 1; /* Hace visible el destello */
  transform: scale(1); /* Aumenta el tamaño del destello */
  animation: flash 0.2s forwards; /* Ejecuta la animación del destello */
}

/* Animación del destello */
@keyframes flash {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5); /* Expande ligeramente */
  }
}

/* Animación de vibración */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px); /* Se mueve ligeramente a la izquierda */
  }
  40%, 80% {
    transform: translateX(5px); /* Se mueve ligeramente a la derecha */
  }
}

/* Estilo modo oscuro */
.dark-mode :host {
  background-color: #fffb00a8;
  color: #d3d3d3; /* Color del texto */
  border: 3px solid black;
}

.dark-mode :host:hover {
  transform: scale(1.05); /* Aumenta ligeramente */
  color: #FFB380; /* Color del texto */
}

.dark-mode :host:active {
  animation: shake 0.3s ease; /* Animación de vibración en modo oscuro */
  
}

.dark-mode :host:active::after {
  background: rgba(255, 255, 255, 0.6); /* Flash ajustado para modo oscuro */
}
