<!-- src/app/Components/Inputs/password/password.component.html -->
<div>
    <label for="password">Contraseña:</label> <!-- Etiqueta que describe el campo de entrada de contraseña -->
    <input type="password" id="password" (input)="onPasswordInput($event)"/>
    <!-- Evento que se activa al ingresar texto, llama a la función onPasswordInput -->
    <div *ngIf="errorMessage" [ngClass]="errorClass">{{ errorMessage }}</div>
    <!-- Mensaje de error mostrado si errorMessage tiene un valor -->
    <!-- [ngClass]: Aplica clases CSS dinámicamente según el valor de errorClass -->
  </div>