/* Estilo para los inputs */
input {
    border: 2px solid #000000; /* Borde delgado y negro */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    padding: 10px; /* Aumentado el espaciado interno */
    font-family: 'Press Start 2P', cursive; /* Fuente tipo pixel */
    background-color: #F6D3B3; /* Fondo suave en tono amarrillo claro */
    color: #333; /* Color del texto del input */
    width: 100%; /* Acortado el ancho */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para borde y sombra */
}

/* Eliminar el contorno por defecto al enfocar el input */
input:focus {
    outline: none; /* Eliminar el contorno por defecto */
    border-color: #F2A77B; /* Borde en color amarrillo medio tomate al enfocar */
}

/* Eliminar el texto de ejemplo en el campo de correo */
input::placeholder {
    color: transparent; /* Hace que el placeholder no sea visible */
}

/* Estilo para las etiquetas */
label {
    font-family: 'Press Start 2P', cursive; /* Fuente tipo pixel */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    margin-bottom: 3px; /* Espacio entre la etiqueta y el input */
    display: block; /* Hacer que la etiqueta ocupe todo el ancho */
}

/* Estilos en modo oscuro para inputs */
:host-context(.dark-mode) input {
    background-color: #4B4B4B; /* Fondo oscuro en modo oscuro */
    color: #ffffff; /* Texto blanco para contraste */
    border: 2px solid #000000; /* Borde más delgado y negro */
}

:host-context(.dark-mode) label {
    color: #ffffff; /* Texto blanco para contraste */
}

/* Estilos en modo oscuro al enfocar el input */
:host-context(.dark-mode) input:focus {
    outline: none; /* Eliminar el contorno por defecto */
    border-color: #D3D3D3; /* Borde en color gris claro al enfocar */
}
