/* Estilos para la barra del toggle */
.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.1s;
  min-width: 120px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para el texto dentro del botón */
.toggle-container span {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

/* Estilos para la barra del toggle */
.toggle-bar {
  width: 50px;
  height: 24px;
  background-color: #28aabb;
  border-radius: 12px;
  position: relative;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

/* Estilos cuando el toggle está activo (Modo Noche) */
.toggle-container.active {
  background-color: black; /* Color plomo para el Modo Noche */
}

.toggle-bar.active {
  background-color: #154764; /* Color de barra cuando está en Modo Noche */
}

/* Estilos para el círculo dentro de la barra */
.toggle-bar::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

/* Estilos para el círculo cuando la barra está activa */
.toggle-bar.active::before {
  left: calc(100% - 22px); /* Mueve el círculo a la derecha en Modo Noche */
}
