/* Estilos para la barra del toggle */
.toggle-container {
    display: flex;
    /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center;
    /* Centra verticalmente los elementos dentro del contenedor */
    cursor: pointer;
    /* Cambia el cursor a puntero al pasar sobre el contenedor */
    height: 50px;
    /* Altura del contenedor */
    margin: 0 5px;
    /* Margen horizontal */
    padding: 10px 20px;
    /* Espaciado interno del contenedor */
    font-size: 16px;
    /* Tamaño de la fuente */
    border: 3px solid #28aabb;
    /* Borde del contenedor */
    border-radius: 5px;
    /* Bordes redondeados */
    background-color: #a8d5e2;
    /* Color de fondo del contenedor */
    font-family: 'Press Start 2P', cursive;
    /* Fuente utilizada para el texto */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
    transition: background-color 0.3s ease, transform 0.1s;
    /* Transiciones suaves para el fondo y la transformación */
    min-width: 120px;
    /* Ancho mínimo del contenedor */
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5);
    /* Sombra del contenedor */
  }
  
  /* Estilos para el estado hover del contenedor */
  .toggle-container:hover {
    background-color: #7ec8d2;
    /* Color de fondo al pasar el mouse */
    transform: scale(1.03);
    /* Aumenta ligeramente el tamaño al pasar el mouse */
  }
  
  .icon {
    font-size: 24px;
    /* Tamaño de los iconos dentro del contenedor */
    transition: opacity 0.3s ease;
    /* Transición suave para la opacidad de los iconos */
  }
  
  .toggle-bar {
    width: 50px;
    /* Ancho de la barra del toggle */
    height: 24px;
    /* Alto de la barra del toggle */
    background-color: #28aabb;
    /* Color de fondo de la barra */
    border-radius: 12px;
    /* Bordes redondeados de la barra */
    position: relative;
    /* Posicionamiento relativo para el círculo interno */
    margin: 0 10px;
    /* Espaciado horizontal entre los iconos y la barra */
    transition: background-color 0.3s ease;
    /* Transición para el color de fondo de la barra */
  }
  
  /* Estilos para la barra cuando está activa (modo oscuro) */
  .toggle-bar.active {
    background-color: #154764;
    /* Color de fondo cuando la barra está activa */
  }
  
  /* Estilos para el círculo dentro de la barra */
  .toggle-bar::before {
    content: '';
    /* Contenido vacío para crear un elemento pseudo */
    position: absolute;
    /* Posicionamiento absoluto para el círculo */
    width: 20px;
    /* Ancho del círculo */
    height: 20px;
    /* Alto del círculo */
    background-color: white;
    /* Color de fondo del círculo */
    border-radius: 50%;
    /* Hace que el círculo tenga bordes redondeados */
    top: 2px;
    /* Posiciona el círculo verticalmente */
    left: 2px;
    /* Posición inicial del círculo desde la izquierda */
    transition: left 0.3s ease;
    /* Transición suave para el movimiento del círculo */
  }
  
  /* Estilos para el círculo cuando la barra está activa */
  .toggle-bar.active::before {
    left: calc(100% - 22px);
    /* Mueve el círculo a la derecha cuando está activo */
  }
  
  /* Estilos para el modo oscuro */
  :host-context(.dark-mode) .toggle-container {
    background-color: #47758b;
    /* Color de fondo del contenedor en modo oscuro */
    border: 3px solid #154764;
    /* Borde del contenedor en modo oscuro */
    box-shadow: inset 0 -2px 0 rgba(209, 205, 205, 0.5), 0 2px 5px rgba(209, 205, 205, 0.5);
    /* Sombra del contenedor en modo oscuro */
  }
  
  /* Estilos para el estado hover del contenedor en modo oscuro */
  :host-context(.dark-mode) .toggle-container:hover {
    background-color: #88aec2;
    /* Color de fondo al pasar el mouse en modo oscuro */
    transform: translateY(-2px);
    /* Desplaza ligeramente el contenedor hacia arriba al pasar el mouse */
    transform: scale(1.03);
    /* Aumenta ligeramente el tamaño al pasar el mouse en modo oscuro */
  }